#p1{
    background-color:#fa8e82;
    font-style:oblique;

}
#p2{
    background:linear-gradient(#89f08e,#50f4fa);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#p3{
    background-color:#cc98fa;
    font-size: 15px;
    border: solid;
    border-width: 5px;
    border-radius: 60px;
    padding: 3cm;
   
}
body{
   background-image: url(/images/anime\ background.jpg);
   background-repeat:no-repeat ;
   background-attachment: fixed;
   background-size:cover;
   background-position: center;

    font-weight: bolder;
}
img{
    margin-left: auto;
  
}
audio{
    position: sticky;
    top: 0px;
}
#a1{
    position:fixed;
    top:0px;
    right:0px;
}
#a1:visited{
    color: dimgrey;
}
#a1:hover{
    color: brown;
}
ol:nth-child(n){ 
    width: 3cm;
    background-color: yellowgreen;
} 
button{
    height: 1cm;
    width: 4cm;
    background: local orange;
    color: blue;
    border-radius: 10px;
    font-weight: bolder
    animation: account;
    
}
@keyframes account{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}