*{
    color: white;
}
body{
    background-image: url(./icons/background.jpg);
}
h1{
    font-family: 'Caprasimo', cursive;
    display: inline-block;
    text-decoration: underline;
    font-size: 50px;
}
h2{
    font-family: 'MuseoModerno', cursive;
}
#header img{
    height: 100px;
}
.dimensions{
    height: 250px;
}
.set{
    display: flex;
    justify-content: center;
    gap: 60px;
}


