body{
    margin: 0px;
}
.header{
    position: relative;
}
.header > img{
   height: 400px;
   width: 400px;
   border-radius: 50%;
   float: left;
   position: absolute;
   top: 100px;
   left: 200px;
   margin-left: 20px;
}
h1{
  padding-top: 300px;
  padding-left: 650px;
  margin: 0px;
  font-size: 90px;
  font-family: sans-serif;
  color : bisque;
  text-decoration: underline;
  text-transform: uppercase;
}
#header{
    background-color: #3F4E4F;
    height: 550px;
}
#details{
    text-align: center;
}
#details > p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}
#skills{
    font-family: sans-serif;
}
#extra{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: sans-serif;
}
#extra > h2{
    font-size: xxx-large;
}
#extra > p{
    font-size: larger;
}

