*{
    margin:0cm;
    padding:0cm;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
}
body{
    background-image: url(/space.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type:none;
    float: right;
    margin-top: 50px;
}
ul li{
    display: inline-block;
    
}
ul li a{
    color: green;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    transition: 0.75s ease-in-out ;
    
}
ul li a:hover{
    background-color: #fff;
    font-weight: bolder;
}
img{
    float: left;
    width: 135px;
    height: 120px;
    border-radius: 150px;
    object-fit: cover;
}
.main{
    width: 1200px;
    margin:auto;
}
h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-family: debug;
    font-size: 400%;
}
h2{
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-family: Times New Roman;
    font-size: 200%;
}