*{
    font-family: 'Paytone One', sans-serif;
    font-size: xx-large;  
    color: aliceblue;
}
h1{
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline;
    font-size: 50px;
}
body{
    background-image: url(./images/Cultivate\ Saplings.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center;
    background-size: cover;
    text-align: center;
}  
button{
    border-radius: 50px;
    text-align: center;
    color: #18189F;
} 
footer{
    position: fixed;
    bottom: 0%;
    right: 0%;
}
input{
    border-radius: 50px;
    text-align: center;
    color: #18189F;
    margin-top: 10px;
}
.test{
    margin: 40px;
}
button{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}